books.dtd

<!-- books.dtd - Document Type Definition for XML Book Catalog -->
<!-- Defines the valid structure and elements for the book catalog -->

<!ELEMENT catalog (book+)>

<!ELEMENT book (title, author, publisher, year, price, genre, isbn, pages, language, rating, description, availability)>
<!ATTLIST book
    id CDATA #REQUIRED
>

<!ELEMENT title        (#PCDATA)>
<!ELEMENT author       (#PCDATA)>
<!ELEMENT publisher    (#PCDATA)>
<!ELEMENT year         (#PCDATA)>
<!ELEMENT price        (#PCDATA)>
<!ELEMENT genre        (#PCDATA)>
<!ELEMENT isbn         (#PCDATA)>
<!ELEMENT pages        (#PCDATA)>
<!ELEMENT language     (#PCDATA)>
<!ELEMENT rating       (#PCDATA)>
<!ELEMENT description  (#PCDATA)>
<!ELEMENT availability (#PCDATA)>
